@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  // Variable for the light mode
  --bg-color: #f2f2f2; // Background color
  --font-serif: "Libre Baskerville", serif; // Serif font
  --font-sansserif: "Montserrat", sans-serif; // Sans-Serif font
  --font-color: #333333; // Font color
  --font-size: 22px; // Font size
  --text-width: 35em; // Width of the area where the content of the pages and posts are displayed
  --text-font: var(--font-serif); // Default font for the text
  --line-height: calc(var(--font-size) * 2); // Line height
  --custom-color: cyan; // Complementary color, for the lines and underlinings
  --lines: linear-gradient(
    to top,
    var(--custom-color) 50%,
    rgba(255, 255, 255, 0) 50%
  ); // Lines
  --quote-color: #e7e8ea; // Background-color for quotes
  --dark-mode-label: "DARK MODE"; // Label displayed in the header to toggle dark mode
  --light-mode-label: "LIGHT MODE"; // Label displayed in the header to toggle light mode
  --typo-plus-label: "A+"; // Label displayed in the header to enlarge the font size
  --typo-moins-label: "A-"; // Label displayed in the header to reduce the font size
  --sans-serif-label: " SANS-SERIF FONT"; // Label displayed at the top of posts to change the font-style to sans-serif
  --serif-label: "SERIF FONT"; // Label displayed at the top of posts to change the font-style to serif
}

/* Dark-mode styles */
#dark-mode:checked,
#dark-mode:checked ~ .theme-container {
  --bg-color: #333; // Background color
  --font-color: #eee; // Font color
  --custom-color: #ef1a63; // Complementary color, for the lines and underlinings
  --lines: linear-gradient(
    to top,
    var(--custom-color) 50%,
    rgba(255, 255, 255, 0) 50%
  ); // Lines
  --quote-color: #333642; // Background-color for quotes
}

/* Typo + styles */
#typo-plus:checked,
#typo-plus:checked ~ .theme-container {
  --font-size: 26px; // Font size
  --line-height: calc(var(--font-size) * 2); // Line height
}

/* Typo - styles */
#typo-moins:checked,
#typo-moins:checked ~ .theme-container {
  --font-size: 16px; // Font size
  --line-height: calc(var(--font-size) * 2); // Line height
}

/* =============================================================================
   SASS Variables
   ============================================================================= */

$border-color: #e8e8e8;
$input-padding: 0.3em;

/* Typographic variables */
$sans-serif: "Montserrat", sans-serif;
$serif: "Libre Baskerville", serif;
$line-height: 1.75em;
$grey: #666666;
